body{
    background: linear-gradient(to right, skyblue 20%, rgb(180, 180, 245) 51%);
}

.contenedor-principal {
    text-align: center;
    text-decoration: none;
    color: salmon;
    text-shadow: 4px 4px 4px black;
}

.contenedor-principal h1{
    /* vacio por ahora */
}
.contenedor-principal img {
    max-width: 60px;
    
}

