body {
    background-color: black;
}

.linkGeneral{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .linkPequeño{
    position: relative;
    padding-bottom: 0.75rem;
    color: white;
    text-decoration: none;
  }

.imagenLogo{
    max-width: 100px;
}